<header>
    <h1>Recipe Keeper</h1>
    <nav>
    </nav>
</header>

<body>
<section class='recipes'>
        <% recipes.each do |recipe| %>
            <section class="recipe">
                <header>
                    <h2><%= recipe['name']%> </h2>

                    <section class="controls">
                        <form action="/recipes/<%= recipe['id'] %>/likes" method="POST" class="button">
                            <button>Like</button>
                        </form>
                    </section>
                </header>
            <% if recipe['image_url'] == ''%>
                <a href="/recipes/<%= recipe['id'] %>/recipe"><img src="https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class='recipe_link'></a>
            <% else %>
                <a href="/recipes/<%= recipe['id'] %>/recipe"><img src="<%= recipe['image_url'] %>" alt="" class='recipe_link'></a>
            <% end %>
                
            </section>
        <% end %>
    </section>
</body>