<header>
    <h1>Recipe Keeper  </h1>
    <nav>
    </nav>
</header>

<body>
<section class='recipes'>
        <% recipes.each do |recipe| %>
            <section class="recipe">
                <header class='tile_header'>
                    <section class='top'>
                        <h2 class='tile_title'><%= recipe['name'] %></h2>
                        
                        <p><%= find_user_by_id(recipe['user_id'])['username'] %></p>
                    </section>
                    
                    <section class="controls">
                        <% if is_liked?(session['user_id'], recipe['id']) %>
                            <form action="/recipes/home/<%= recipe['id'] %>/likes" method="POST">
                                <button class='unlike-btn'>&#10084;</button>
                            </form>
                        <% else %>
                            <form action="/recipes/home/<%= recipe['id'] %>/likes" method="POST">
                                <button class='like-btn'>&#10084;</button>
                            </form>
                        <% end %>
                    </section>
                </header>

                <% if recipe['image_url'] == '' %>
                    <a href="/recipes/<%= recipe['id'] %>/recipe"><img src="https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class='recipe_link'></a>
                <% else %>
                    <a href="/recipes/<%= recipe['id'] %>/recipe"><img src="<%= recipe['image_url'] %>" alt="" class='recipe_link'></a>
                <% end %>
                 
            </section>
        <% end %>
    </section>
</body>