<h2><%= recipe['name'] %></h2>

<% if is_creator?(recipe['user_id']) %>
    <section class="controls">
        <a href="/recipes/<%= recipe['id'] %>/edit" class="button">Edit</a>
        <form action="/recipes/<%= recipe['id'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
        </form>
    </section>
<% end %>

<p>Creator: <%=  %></p>
<% if recipe['image_url'] == ''%>
    <img src="https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class='recipe_detail'>
<% else %>
    <img src="<%= recipe['image_url'] %>" alt="" class='recipe_detail'>
<% end %>


<section class='minutia'>
    <ul>
        <li>Rating: <%= recipe['rating'] %></li>
        <li>Servings: <%= recipe['servings'] %></li>
        <li>Time: <%= recipe['time'] %></li>
        <li>Source: <%= recipe['source'] %></li>
        <li>Category: <%= recipe['category'] %></li>

    </ul>
</section>

<section class='ingredients'>
    <label>Ingredients: </label>
    <ul>
        <% if recipe['ingredients'] != '' %>
            <% recipe['ingredients'].delete('"').split("\r\n").each do |thing| %>
                <li> <%= thing %></li>
            <% end %>
        <% end %>
    </ul>
</section>

<section class='directions'>
    <label>Directions: </label>
    <ul>
        <% if recipe['directions'] != '' %>
            <% recipe['directions'].delete('"').split("\r\n").each do |step| %>
                <li> <%= step %></li>
            <% end %>
        <% end %>
    </ul>
</section>

</section>


