<h2><%= recipe['name'] %></h2>

 <a href="/recipes/<%= recipe['id'] %>/edit" class="button">Edit</a>

<p>Creator: <%=  %></p>
<img src="<%= recipe['image_url'] %>" alt="" class='recipe_detail'>

<section class='minutia'>
    <ul>
        <li>Rating: <%= recipe['rating'] %></li>
        <li>Servings: <%= recipe['servings'] %></li>
        <li>Time: <%= recipe['time'] %></li>
        <li>Source: <%= recipe['source'] %></li>
        <li>Category: <%= recipe['category'] %></li>

    </ul>
</section>

<section class='ingredients'>
    <label>Ingredients: </label>
    <ul>
        <% if recipe['ingredients'] != '' %>
            <% recipe['ingredients'].delete('"').split("\r\n").each do |thing| %>
                <li> <%= thing %></li>
            <% end %>
        <% end %>
    </ul>
</section>

<section class='directions'>
    <label>Directions: </label>
    <ul>
        <% if recipe['directions'] != '' %>
            <% recipe['directions'].delete('"').split("\r\n").each do |step| %>
                <li> <%= step %></li>
            <% end %>
        <% end %>
    </ul>
</section>

</section>


